name: MiniPhone

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "6.0.x"

      - name: Restore
        run: dotnet restore MiniPhone.csproj

      - name: Build Project
        run: dotnet build MiniPhone.csproj --configuration Release --no-restore

      - name: Upload Mod Build
        uses: actions/upload-artifact@v4
        with:
          name: MiniPhone
          path: MiniPhone/bin/Release/net6.0/
