on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore MiniPhone.csproj

      - name: Build Project
        run: dotnet build MiniPhone.csproj --configuration Release --no-restore

      - name: Upload DLL
        uses: actions/upload-artifact@v4
        with:
          name: MiniPhone
          path: bin/Release/net8.0/**/*.dll
